<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= genreName %></title>
    <link rel="stylesheet" href="/styles/genreStyles.css" />
  </head>
  <body>
    <button class="backButton">
      <a href="/">Back Home</a>
    </button>

    <header
      style="display: flex; justify-content: space-between; align-items: center"
    >
      <h1><%= genreName %> Books</h1>
      <a href="/book/new">Add Book</a>
    </header>

    <main>
      <% books.forEach(book => { %>
      <div class="bookCard">
        <h2><%= book.book_name %></h2>
        <p><%= book.author %></p>
        <div class="imageContainer">
          <% if (book.image_url) { %>
          <img src="<%= book.image_url %>" alt="<%= book.book_name %> cover" />
          <% } else { %>
          <p>No image available</p>
          <% } %>
        </div>
        <div class="bookCardFooter">
          <p
            class="priority <%= book.read_priority === 1 ? 'low' : book.read_priority === 2 ? 'medium' : book.read_priority === 3 ? 'high' : '' %>"
          >
            <%= book.read_priority === 1 ? 'Low' : book.read_priority === 2 ?
            'Medium' : book.read_priority === 3 ? 'High' : '' %>
          </p>
          <button class="deleteButton">Delete</button>
        </div>
      </div>
      <% }); %>
    </main>
  </body>
</html>
